@import url("../global/reset.css");
@import url("../global/base.css");
@import url("../global/reaveal.css");
@import url("./01_hero.css");
@import url("./02_about.css");
@import url("./03_offers.css");
@import url("./04_why.css");
@import url("./05_how-it-works.css");
@import url("./06_simulator.css");
@import url("./07_loan-offers-form.css");
@import url("./08_testimonials.css");
@import url("./09_faq.css");
@import url("./10_contact.css");
@import url("./11_footer.css");







